* {
  box-sizing: border-box;
}

/*=======================================
>>>>>>>>  body  <<<<<<<<
========================================*/

body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;
}

/*=======================================
>>>>>>>>  section: header wrapper  <<<<<<
========================================*/

.header-wrapper {
  background: #e5f3f2;
  display: flex;
  align-items: center;
  flex-direction: column;
}

header, h1 {
  display: inline-block;
  display: flex;
  justify-content: center;
  color: #00a79d;
  font-family: 'Roboto Slab', serif;
  font-size: 38px;
  margin-top: 10px;
}

span {
  color: #6d6e71;
}

/*=======================================
>>>>>>>>  form input body & title  <<<<<<
========================================*/

.form {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.input-title,
.input-task,
.input-filter {
  border: 2px solid #D1D3D4;
  color:#6d6e71;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  margin: 20px auto 0;
  padding: 5px;
  transition: 0.5s;
  width: 360px;
}

.input-title::placeholder,
.input-task::placeholder,
.input-filter::placeholder {
  color: rgba(4, 94, 85, 0.4);
}

.button-save {
  background: #00a79d;
  border: none;
  border-radius: 25px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 20px auto 20px;
  transition: 0.5s;
  width: 360px;
}

.button-save:hover {
  background-color: #045e55;
  transition: 0.25s;
}

.button-save:disabled {
  background-color: #6D6E71;
}

.filter {
  display: flex;
  justify-content: center;
}

.priority-filter {
  display: block;
  margin: 15px auto 0;
  text-align: center;
  width: 360px;
}

.priority-btn {
  background-color: inherit;
  border: 1px solid #00A79D;
  border-radius: 10px;
  width: 50px;
}

.filter-show-btns {
  display: flex;
  justify-content: center;
}

.complete-filter-btn,
.show-more-btn {
  border: 1px solid #00A79D;
  border-radius: 10px;
  background-color: inherit;
  margin: 15px auto;
  width: 150px;
}

.complete-filter-btn:hover,
.show-more-btn:hover,
.priority-btn:hover {
  background-color: #00A79D;
  color: white;
}

/*=======================================
>>>>>>>>  article  <<<<<<<<
========================================*/

.new-task-article {
  margin: 30px auto;
  padding: 0 10px;
  transition: 0.5s;
  width: 360px;
}

.completed-btn-container {
  display: flex;
  justify-content: center;
}

.completed-btn {
  background-color: #00A79D;
  border: none;
  border-radius: 25px;
  color: #FFFFFF;
  margin-top: 15px;
  height: 25px;
  width: 100px;
  transition: 0.25s;
}

.completed-btn:hover {
  background-color: #045e55;
  transition: 0.25s;
}

.new-task-header {
  color: #6d6371;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  line-height: 125%;
  margin-top: 10px;
  width: 360px;
}

.delete-image {
  background: none;
  border: none;
  background-image: url("assets/delete.svg");
  float: right;
  height: 20px;
  width: 20px;
}

.new-task-body {
  color:#939598;
  line-height: 125%;
  margin: 25px 0;
}

.new-task-footer {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #D1D3D4;
}

.upvote-image,
.downvote-image {
  background: none;
  border: none;
  float: left;
  margin: 0 15px 15px 0;;
  height: 20px;
  width: 20px;
}

.upvote-image {
  background-image: url("assets/upvote.svg")
}

.downvote-image {
  background-image: url("assets/downvote.svg")
}

.h3-footer {
  font-family: 'Roboto Slab', serif;
}

h3 {
  margin-bottom: 15px;
}

/*=======================================
>>>>>>>>  Footer  <<<<<<<<
========================================*/

.footer-box {
  background: #e5f3f2;
  border-radius: 10px;
  margin: auto;
  margin-top: 20px;
  height: 20px;
  width: 200px;
}

.footer-text  {
  color: #FFF;
  font-size: 10px;
  padding: 5px;
  text-align: center;
}

/*=======================================
>>>>>>>>  hover properties and states <<<<<<<<
========================================*/

.delete-image:hover {
  background-image: url("assets/delete-hover.svg");
}

.upvote-image:hover {
  background-image: url("assets/upvote-hover.svg");
}

.downvote-image:hover {
  background-image: url("assets/downvote-hover.svg");
}

.completed {
  background-color: #E5F3F2;
  text-decoration: line-through;
}
.new-task-header:focus,
.new-task-body:focus,
input:focus {
  outline-style: solid;
  outline-color: rgba(0, 167, 157, 0.4);
  outline-width: thin;
  transition: none;
}

button:focus {
  outline: none;
}

/*=======================================
>>>>>>>>  @media min800  <<<<<<<<
========================================*/

@media (min-width: 800px) {
  .input-title,
  .input-task,
  .button-save,
  .input-filter,
  .new-task-header,
  .new-task-article,
  .priority-filter {
    width: 550px;
    transition: 0.5s;
  }

  .priority-filter {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

@media (max-width: 800px) {
  .priority-filter p {
    margin: 0 auto 15px;
  }
}

/*=======================================
>>>>>>>>  @media max400  <<<<<<<<
========================================*/

@media (max-width: 400px) {
  .input-task {
    height: 70px;
    width: 90%;
  }

  .input-title,
  .button-save,
  .input-filter,
  .new-task-header,
  .new-task-article,
  .priority-filter {
    width: 90%;
    transition: 0.5s;
  }

  .priority-filter {
    display: block;
    text-align: center;
  }

  .priority-filter p {
    margin: 0 auto 15px;
  }
}
